*{
    font-family: "Comfortaa", sans-serif;
}
/* 
Палитра

#ff8800 - фон
#be6704 - второстепенный цвет.
*/
/* Глобальные стили */
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #999999;
}

body{
    background-color: #e4e4e4;
}

a{
    text-decoration: none;
    color: inherit;
    
}
/* ------------------------------------------------------------------------ */
/* HEADER style */

header {
    background: #ff8800;
    height: 70px;
}

header * {
    color: #fff;
}

header h1 {
    margin-top: 8px;
    white-space: nowrap;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

header ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #be6704;
}

header ul li:hover ul {
    display: block;
    background-color: #be6704; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}

header ul li ul li {
    float: none;
}

header ul li ul li a {
    padding: 10px 20px;
}

header ul li a:hover {
    background: #be6704;
    transition: 0.5s;
    color: #ffff;
}

header .container {
    display: flex;
    align-items: center;
}

header .col-4 {
    flex: 0 0 auto;
}

header .col-8 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
/* --------------------------------------- */

/* SLIDER */
.slider-title{
    text-align: center;
    padding: 30px 0px;
}

.carousel{
    height: 800px;
}
.carousel-inner, .carousel-item{
    height: 800px;
    border-radius: 4px;
}

.carousel-caption h5,p{
    background: #ff88008c;
    max-width: 100%;
    padding: 0.7em;
    color: #ffffff;
}

.carousel-caption-my{
    position: absolute;
    right: 0% !important;
    bottom: 0.0001rem;
    left:0% !important;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    color: #000000;
    text-align: center;
    width: 100%;
}
/* ------------------------ */
/* Footer */
footer {
    background-color: #ffffff;
    padding: 40px 0; /* Увеличенные отступы */
    border-top: 1px solid #ddd;
    margin-top: 200px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    margin: 10px 0;
}

.footer-center {
    text-align: center;
}

.footer-logo {
    display: block;
    margin: 0 auto 10px;
    width: 150px;
    height: auto;
}

.footer-left p,
.footer-center p,
.footer-right p {
    margin: 20px;
}

.footer-center a {
    color: #000;
    text-decoration: none;
}

.footer-center a:hover {
    text-decoration: underline;
}

.footer-phone-icon,
.footer-email-icon {
    margin-left: 5px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-center {
        text-align: left;
    }
}

.footer-adminlogin {
    position: relative;
    text-align:center;
    bottom: 100px;
    right: 10px;
    background-color: transparent; /* прозрачный фон, если нужно */
    padding: 5px; /* отступы вокруг текста */
    margin-left:155px;
    display: inline-block; /* чтобы блок занимал только нужную ширину */
    background: none !important;
}

.footer-adminlogin a {
    color: #ffffff !important;  /* серый цвет для невыделяющегося вида */
    text-decoration: none;
    font-size: 0.9rem; /* немного меньший размер текста */
    background-color: none !important;
    padding: 5px;
}

.footer-adminlogin a:hover {
    color: #1eff00;  /* немного темнее при наведении */
}

/* Увеличенные отступы */
footer p,
footer a {
    text-align: center;
    background: #ff8800;
}


/* Main content */
.main-content h2{
    margin: 30px 10px !important;
    padding: 10px;
    background: #ff9100;
    color: #f8f8f8;
}

.main-content {
background: rgb(255, 255, 255);
margin-top: 50px;
}
/* -------------------------------------------------- */
/* О нас контент */

/* -------------------------------------------------- */

/* Форма реистрации */
.reg_form h2{
    color: black;
    text-align: center;
    margin: 30px 0;
}
.reg_form h4{
    text-align: center;
    color:black;
    margin-top: 25px;
}
.reg_form a{
    text-align: center;
    color: #ff8800;
}

.reg_form a:hover{
    margin-left: 55px;
    transition: all .3s;
}

.reg_form div.err p{
    color:rgb(255, 166, 0);
    background:none;
    text-align: center;
}
/* -------------------------------------------------- */