h1{
    font-family: "Comfortaa", sans-serif;
}
*{
    font-family: "Raleway", sans-serif;
}
/* 
Палитра

#ff8800 - фон
#be6704 - второстепенный цвет.
*/
/* Глобальные стили */
html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
}

body{
    background-color: #e4e4e4;
}

a{
    text-decoration: none;
    color: inherit;
    
}

.main-text h2{
    background-color: #be6704;
    margin: 0px, 30px;
}

.container{
    background: #f8f8f8;
    padding: 0px 50px;
}
.header{
    background: none;
}
/* ------------------------------------------------------------------------ */
/* HEADER style */

header {
    background: #ff8800;
    padding: 10px 0;
}

header * {
    color: #fff;
}

header h1 {
    margin: 0;
    white-space: nowrap;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header ul li {
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

header ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #be6704;
}

header ul li:hover ul {
    display: block;
    background-color: #be6704; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}

header ul li ul li {
    float: none;
}

header ul li ul li a {
    padding: 10px 20px;
}

header ul li a:hover {
    background: #e67c03;
    transition: 0.5s;
    color: #ffff;
}

header .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    header h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    nav {
        width: 100%;
    }

    header ul {
        justify-content: center;
    }

    header ul li {
        width: 100%;
        text-align: center;
    }

    header ul li a {
        padding: 10px 0;
    }
}

/* --------------------------------------- */

/* SLIDER */
.slider-title{
    text-align: center;
    padding: 40px 0px;
    background-color: #ff8800;
    border-radius: 3px;
    color: #f8f8f8;
    margin-bottom: 0;
    
}
.slider-title h2{
    margin: 20px 0px;
}


.main-text h2{
    margin: 0px, 20px;
}

.carousel{
    height: 800px;
}
.carousel-inner, .carousel-item{
    height: 800px;
    border-radius: 4px;
}

.carousel-caption h5,p{
    background: #ff8800d7;
    max-width: 100%;
    padding: 0.7em;
    color: #ffffff;
}

.carousel-caption-my{
    position: absolute;
    right: 0% !important;
    bottom: 0.0001rem;
    left:0% !important;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    color: #000000;
    text-align: center;
    width: 100%;
}
/* ------------------------ */
/* Footer */
footer {
    background-color: #ffffff;
    padding: 40px 0; /* Увеличенные отступы */
    border-top: 1px solid #ddd;
    margin-top: 200px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    margin: 10px 0;
}

.footer-center {
    text-align: center;
}

.footer-logo {
    display: block;
    margin: 0 auto 10px;
    width: 150px;
    height: auto;
}

.footer-left p,
.footer-center p,
.footer-right p {
    margin: 20px;
}

.footer-center a {
    color: #000;
    text-decoration: none;
}

.footer-center a:hover {
    text-decoration: underline;
}

.footer-phone-icon,
.footer-email-icon {
    margin-left: 5px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-center {
        text-align: left;
    }
}

.footer-adminlogin {
    position: relative;
    text-align:center;
    bottom: 100px;
    right: 10px;
    background-color: transparent; /* прозрачный фон, если нужно */
    padding: 5px; /* отступы вокруг текста */
    margin-left:155px;
    display: inline-block; /* чтобы блок занимал только нужную ширину */
    background: none !important;
}

.footer-adminlogin a {
    color: #ffffff !important;  /* серый цвет для невыделяющегося вида */
    text-decoration: none;
    font-size: 0.9rem; /* немного меньший размер текста */
    background-color: none !important;
    padding: 5px;
}

.footer-adminlogin a:hover {
    color: #1eff00;  /* немного темнее при наведении */
}

/* Увеличенные отступы */
footer p,
footer a {
    text-align: center;
    background: #ff8800;
}


/* Main content */
.main-content h2{
    margin: 30px 10px !important;
    text-align: center;
    padding: 10px;
    background: #ff9100;
    color: #f8f8f8;
    
}



.worktime h2 {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    padding-left: 30px;
}

.worktime h2 .icon {
    margin-left: 10px;
    transition: transform 0.3s ease-out;
    padding: 20px 0px;
    padding-left: 30px;
}

.worktime p, .worktime h3 {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}

.worktime p.show, .worktime h3.show {
    display: block;
    max-height: 100px; /* Убедитесь, что это значение достаточно большое для ваших элементов */
    opacity: 1;
}

.worktime h2 .icon.rotate {
    transform: rotate(180deg);
}


.main-content {
background: rgb(255, 255, 255);
margin-top: 50px;
text-align: center;
}
/* -------------------------------------------------- */
/* О нас контент */
.text-center h2{
    background-color: #ff8800d7;
    color:#f8f8f8;
    padding: 10px;
}

.examples{
    background-color: #ff8800d7;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aboutustext{
    font-size: 20px;
}
/* -------------------------------------------------- */

/* Форма реистрации */
.reg_form h2{
    color: black;
    text-align: center;
    margin: 30px 0;
}
.reg_form h4{
    text-align: center;
    color:black;
    margin-top: 25px;
}
.reg_form a{
    text-align: center;
    color: #ff8800;
}

.reg_form a:hover{
    margin-left: 55px;
    transition: all .3s;
}

.reg_form div.err p{
    color:rgb(255, 166, 0);
    background:none;
    text-align: center;
}
/* -------------------------------------------------- */

/* ---------------Main---------------------- */
.post_text h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ---------------Main---------------------- */

/* Портфолио */
.portfolio-container {
    column-count: 3;
    column-gap: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.portfolio-item {
    display: inline-block;
    margin: 0;
    width: 100%;
    break-inside: avoid;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
}
/* Портфолио */

/* Услуги */
.servicescontent{
    padding-top: 20px;
}
/* услуги */
